vendor
public/mp3s
public/images/*
!public/images/broken_boombox.jpg
public/tmp
public/share
public/libs
public/media
.byebug_history
.bundle/*
.bundle/config
.byebug_history
coverage/**/*
!coverage/coverage-badge.png
