-app = locals.keys.include?(:application)
%h2
  =app ? application&.name : "Register an Application"
%form{method: "POST"}
  %label{for:"name"}
    Name
  %input#name.form-control{name: "name", type:"text", placeholder: "Name", value: "#{application&.name}"}
  %label{for:"redirect"}
    Redirect
  %input#redirect.form-control{name: "redirect", type:"text", placeholder: "Redirect", value: "#{application&.redirect}"}
  %label{for:"homepage"}
    Homepage
  %input#homepage.form-control.sp-bottom-sm{name: "homepage", type:"text", placeholder: "Homepage", value: "#{application&.homepage}"}
  %button.btn.btn-lg.btn-primary.btn-block{type: "submit"}
    =app ? "Save Application" : "Create Application"

