-app? = locals.keys.include(:application)
%h2
  Register an Application
%form{method: "POST"}
  %label.sr-only{for:"name"}
    Name
  %input#name.form-control{name: "name", type:"text", placeholder: "Name"}
  %label.sr-only{for:"redirect"}
    Redirect
  %input#redirect.form-control{name: "redirect", type:"text", placeholder: "Redirect"}
  %label.sr-only{for:"homepage"}
    Homepage
  %input#homepage.form-control.sp-bottom-sm{name: "homepage", type:"text", placeholder: "Homepage"}
  %button.btn.btn-lg.btn-primary.btn-block{type: "submit"}
    =app? ? "Save Application" : "Create Application"

