%h1
  %small
    Authentication for patf.net
%hr
.row
  .col-sm-4
    %form.form-signin{method: "POST", action: "#{url_for('/login')}"}
      %h2.form-signin-heading
        Please sign in
      %label.sr-only{for:"email"}
        Email address
      %input#email.form-control{name: "email", type:"email", placeholder: "Email address", required: "true", autofocus: "true"}
      %label.sr-only{for:"password"}
        Password
      %input#password.form-control{name: "password", type:"password", placeholder:"Password", required: "true"}
      %div.checkbox
        %label
          %input{type: "checkbox", value: "remember-me"}
            Remember me
      %button.btn.btn-lg.btn-primary.btn-block{type: "submit"}
        Sign in
:javascript
