%h2
  Users
%table.table.table-condensed
  %thead
    %tr
      -list.first.columns.each do |col|
        %th
          =col
  %tbody
    -list.each do |entry|
      %tr
        -entry.columns.each do |col|
          %td
            =entry[col]
