%h2
  =title
%table.table.table-condensed
  %thead
    %tr
      -headers.each do |col|
        %th
          =col
  %tbody
    -list.each do |entry|
      %tr
        -headers.each do |col|
          %td
            =entry[col]
