%h1
  %small
    Authentication for #{application.name}
%hr
.row
  .col-sm-6
    =haml :'partials/signup', locals: { signup: "/application/#{application.id}/login", login:  "/application/#{application.id}/users" }
:javascript
