%h1
  %small
    Authentication for #{application.name}
%hr
.row
  .col-sm-6
    =haml :'partials/signup', locals: { application: application, user: current_user, signup: "/application/#{application.id}/login", login:  "/application/#{application.id}/users" , return_to: return_to}
:javascript
